# T1-11
---

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv('basic1.csv')
df.head(), df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    object
 1   age     100 non-null    float64
 2   city    100 non-null    object
 3   f1      69 non-null     float64
 4   f2      100 non-null    int64
 5   f3      5 non-null      object
 6   f4      100 non-null    object
 7   f5      100 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.4+ KB

(     id   age city    f1  f2   f3    f4         f5
 0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
 1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
 2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
 3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
 4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869,
 None)

In [6]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['f5'] = scaler.fit_transform(df[['f5']])
df['f5']

0     0.919533
1     0.570252
2     0.084129
3     0.483685
4     0.219708
        ...
95    0.483685
96    0.655395
97    1.000000
98    0.988166
99    0.265279
Name: f5, Length: 100, dtype: float64

In [13]:
bottom5 = df['f5'].quantile(0.05)
top5 = df['f5'].quantile(0.95)

# bottom5 = df[df['f5']<=bottom5]['f5'].sum()
# top5 = df[df['f5']>=top5]['f5'].sum()

answer = top5 + bottom5
print(answer)

1.0248740983597389

# t1-12
---

In [17]:
import pandas as pd
df =pd.read_csv('./covid-vaccination-vs-death_ratio.csv')
df

,Unnamed: 0,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
0,0,Afghanistan,AFG,2021-05-11,504502.0,448878.0,55624.0,12,40295077.0,1.113977
1,1,Afghanistan,AFG,2021-05-20,547901.0,470341.0,77560.0,10,40295077.0,1.167242
2,2,Afghanistan,AFG,2021-05-24,573277.0,476367.0,96910.0,10,40295077.0,1.182197
3,3,Afghanistan,AFG,2021-05-26,590454.0,479372.0,111082.0,19,40295077.0,1.189654
4,4,Afghanistan,AFG,2021-05-27,593313.0,479574.0,113739.0,14,40295077.0,1.190155
...,...,...,...,...,...,...,...,...,...,...
26618,26618,Zimbabwe,ZWE,2021-12-22,7167610.0,4078945.0,3088665.0,14,15209563.0,26.818292
26619,26619,Zimbabwe,ZWE,2021-12-23,7188128.0,4089315.0,3098813.0,9,15209563.0,26.886473
26620,26620,Zimbabwe,ZWE,2021-12-24,7200776.0,4095685.0,3105091.0,27,15209563.0,26.928354
26621,26621,Zimbabwe,ZWE,2021-12-25,7209049.0,4100069.0,3108980.0,16,15209563.0,26.957178
26622,26622,Zimbabwe,ZWE,2021-12-26,7214640.0,4103288.0,3111352.0,14,15209563.0,26.978343

In [19]:
df2 = df.groupby('country').max() #시간에 따라 접종률이 점점 올라감
df2 = df2.sort_values(by='ratio', ascending = False)
print(df2['ratio'].head())

country
Gibraltar               122.149682
Malta                    99.307358
United Arab Emirates     98.484635
Cuba                     91.873382
Brunei Darussalam        91.328883
Name: ratio, dtype: float64

In [21]:
df2=df2[1:]
df2['ratio'].head()

country
United Arab Emirates    98.484635
Cuba                    91.873382
Brunei Darussalam       91.328883
Portugal                90.418267
Chile                   89.302302
Name: ratio, dtype: float64

In [22]:
top = df2['ratio'].head(10).mean()
bottom = df2['ratio'].tail(10).mean()

print(round(top - bottom,1))

86.9

# t1-23
---

In [5]:
import pandas as pd
df = pd.read_csv('basic1.csv')

UnicodeEncodeError: 'latin-1' codec can't encode characters in position 0-1: ordinal not in range(256)