# T1-15
---
주어진 데이터 셋에서 age컬럼 상위 20개의 데이터를 구한 다음 
f1의 결측치를 중앙값으로 채운다.
그리고 f4가 ISFJ와 f5가 20 이상인 
f1의 평균값을 출력하시오!

In [16]:
import pandas as pd

# 데이터 불러오기
df = pd.read_csv("./basic1.csv")
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [17]:
# age컬럼 상위 20
# f1컬럼 결측치 -> 중앙값 대체
# f4컬럼 isfj, f5컬럼이 20 이상인 행의 f1 평균값

In [18]:
df = df.sort_values('age',ascending=False)[:20]

In [19]:
print(df.isnull().sum())
df['f1'] = df['f1'].fillna(df['f1'].median())
print(df.isnull().sum())

id       0
age      0
city     0
f1       8
f2       0
f3      20
f4       0
f5       0
dtype: int64
id       0
age      0
city     0
f1       0
f2       0
f3      20
f4       0
f5       0
dtype: int64

In [20]:
cond1 = df['f4']=='ISFJ'
cond2 = df['f5']>=20
answer = df[cond1 & cond2]['f1'].mean()
print(answer)

73.875