# T1-18. 시계열 데이터2 Expected Question
---
주어진 데이터에서 2022년 5월 주말과 평일의 sales컬럼 평균값 차이를 구하시오 (소수점 둘째자리까지 출력, 반올림)
데이터셋 : basic2.csv

In [43]:
import pandas as pd
df = pd.read_csv('./basic2.csv')
df.head()

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

In [44]:
# Date : 2022-05
# 주말, 평일 sales 평균 차이
# 소수점 둘째, 반올림

In [45]:
df['Date'] = pd.to_datetime(df['Date'])
df['year'] =  df['Date'].dt.year
df['month'] =  df['Date'].dt.month
df['dayofweek'] = df['Date'].dt.dayofweek # 몇번째인지 0:월 ~ 6:일

In [46]:
cond1 = df['year']==2022
cond2 = df['month']==5
df = df[cond1 & cond2]

In [47]:
df['weekend']= df['dayofweek'].apply(lambda x:x>=5)

In [50]:
weekend = df[df['weekend']]
weekday = df[~df['weekend']]

In [55]:
round(weekend['Sales'].mean() - weekday['Sales'].mean(),2)

3010339.1