# T1-16. 분산 Expected Question
---
주어진 데이터 셋에서 f2가 0값인 데이터를 age를 기준으로 오름차순 정렬하고
앞에서 부터 20개의 데이터를 추출한 후 
f1 결측치(최소값)를 채우기 전과 후의 분산 차이를 계산하시오 (소수점 둘째 자리까지)

In [18]:
import pandas as pd
import numpy as np
df = pd.read_csv('./basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [19]:
# f2 == 0 & age기준 오름차순 정렬
# 앞에서 20개 추출
# f1결측치 : 최소값 채우기 전, 후 분산 차이 계산
# 소주점 둘째자리

In [20]:
df = df[df['f2'] == 0]
df = df.sort_values('age')[:20]
print(df.isnull().sum())
before = df['f1'].var()
df['f1'] = df['f1'].fillna(df['f1'].min())
print(df.isnull().sum())
after = df['f1'].var()
print(before,after)

id       0
age      0
city     0
f1       9
f2       0
f3      18
f4       0
f5       0
dtype: int64
id       0
age      0
city     0
f1       0
f2       0
f3      18
f4       0
f5       0
dtype: int64
351.7636363636363 313.3263157894737

In [21]:
answer = round(before - after,2)
print(answer)

38.44