# T1-24. Time-Series5 (Lagged Feature) 시차 데이터 생성
---
주어진 데이터(basic2.csv)에서 "pv"컬럼으로 1일 시차(lag)가 있는 새로운 컬럼을 만들고(예: 1월 2일에는 1월 1일 pv데이터를 넣고, 1월 3일에는 1월 2일 pv데이터를 넣음),새로운 컬럼의 1월 1일은 다음날(1월 2일)데이터로 결측치를 채운 다음, Events가 1이면서 Sales가 1000000이하인 조건에 맞는 새로운 컬럼 합을 구하시오.

In [12]:
import pandas as pd
df = pd.read_csv("./basic2.csv")
df.head()

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

In [16]:
df['pv']=0
df['pv'][0] = df['PV'][1]
df['pv'][1:] = df['PV'][:-1]

C:\Users\USER\AppData\Local\Temp\ipykernel_16960\3166201193.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pv'][0] = df['PV'][1]
C:\Users\USER\AppData\Local\Temp\ipykernel_16960\3166201193.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pv'][1:] = df['PV'][:-1]

In [19]:
cond1 = df['Events']==1
cond2 = df['Sales']<=1000000
df = df[cond1 & cond2]
df

           Date   Sales      PV      UV  Events      pv
177  2022-06-27  267792  292946  5631.0       1  180613
228  2022-08-17  288823   20069  5928.0       1   14671
241  2022-08-30  281531  268719  7835.0       1  223929
303  2022-10-31  314119  255878     NaN       1   11459
357  2022-12-24  928788  224920  3004.0       1  323409
425  2023-03-02  619266    8881  6600.0       1  207915
439  2023-03-16  205989  215055  2245.0       1    1134
478  2023-04-24  474873   47738     NaN       1   48198
505  2023-05-21  511032  100113  5490.0       1  128965
507  2023-05-23  948566   59527  8640.0       1  161647
601  2023-08-25  715507   17079  6465.0       1  316069
675  2023-11-07  641243  102611  6490.0       1  276867

In [20]:
df['pv'].sum()

1894876