# T1-20. 데이터 병합 Expected Question
---
basic1 데이터와 basic3 데이터를 'f4'값을 기준으로 병합하고,
병합한 데이터에서 r2결측치를 제거한다음, 앞에서 부터 20개 데이터를 선택하고 'f2'컬럼 합을 구하시오

In [1]:
import pandas as pd
df1 = pd.read_csv("./basic1.csv")
df2 = pd.read_csv("./basic3.csv")

In [17]:
df = pd.merge(df1,df2,how = 'left',on='f4')

In [19]:
df.isnull().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
r1       0
r2      17
dtype: int64

In [27]:
print(df.isnull().sum())
df = df.dropna(subset ='r2')
print(df.isnull().sum())

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
r1       0
r2      17
dtype: int64
id       0
age      0
city     0
f1      27
f2       0
f3      78
f4       0
f5       0
r1       0
r2       0
dtype: int64

In [30]:
answer = df[:20]['f2'].sum()
print(answer)

15