In [17]:
import pandas as pd
df = pd.read_csv('basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [18]:
df_sort = df['f1'].sort_values(ascending=False)
df_sort = df_sort.reset_index(drop=True)
top10 = df_sort[9]

In [33]:
top10

88.0

In [19]:
df['f1'] = df['f1'].fillna(top10)

In [20]:
df.isnull().sum()

id       0
age      0
city     0
f1       0
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [22]:
before = df['f1'].median()
before

77.5

In [30]:
df = df.drop_duplicates(subset = ['age'])
after = df['f1'].median()

In [31]:
after

77.0

In [34]:
print(abs(after - before))

0.5