# T2-3. Adult Census Income Tutorial
---
성인 인구조사 소득 예측  
age: 나이  
workclass: 고용 형태  
fnlwgt: 사람의 대표성을 나타내는 가중치(final weight)  
education: 교육 수준  
education.num: 교육 수준 수치   
marital.status: 결혼 상태  
occupation: 업종   
relationship: 가족 관계  
race: 인종   
sex: 성별  
capital.gain: 양도 소득   
capital.loss: 양도 손실   
hours.per.week: 주당 근무 시간   
native.country: 국적   
income: 수익 (예측해야 하는 값)

In [71]:
# 시험환경 세팅 (코드 변경 X)
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

def exam_data_load(df, target, id_name="", null_name=""):
    if id_name == "":
        df = df.reset_index().rename(columns={"index": "id"})
        id_name = 'id'
    else:
        id_name = id_name
    
    if null_name != "":
        df[df == null_name] = np.nan
    
    X_train, X_test = train_test_split(df, test_size=0.2, random_state=2021)
    
    y_train = X_train[[id_name, target]]
    X_train = X_train.drop(columns=[target])

    
    y_test = X_test[[id_name, target]]
    X_test = X_test.drop(columns=[target])
    return X_train, X_test, y_train, y_test 
    
df = pd.read_csv("./Adult/adult.csv")
X_train, X_test, y_train, y_test = exam_data_load(df, target='income', null_name='?')

X_train.shape, X_test.shape, y_train.shape

((26048, 15), (6513, 15), (26048, 2))

In [72]:
# 제출용
id = y_test['id']

# EDA
---

In [73]:
X_train.isnull().sum(),X_test.isnull().sum()

(id                   0
 age                  0
 workclass         1456
 fnlwgt               0
 education            0
 education.num        0
 marital.status       0
 occupation        1463
 relationship         0
 race                 0
 sex                  0
 capital.gain         0
 capital.loss         0
 hours.per.week       0
 native.country     461
 dtype: int64,
 id                  0
 age                 0
 workclass         380
 fnlwgt              0
 education           0
 education.num       0
 marital.status      0
 occupation        380
 relationship        0
 race                0
 sex                 0
 capital.gain        0
 capital.loss        0
 hours.per.week      0
 native.country    122
 dtype: int64)

# 전처리
---

In [74]:
X_train['workclass'] = X_train['workclass'].fillna(X_train['workclass'].mode)
X_train['occupation'] = X_train['occupation'].fillna(X_train['occupation'].mode)
X_train['native.country'] = X_train['native.country'].fillna(X_train['native.country'].mode)

X_test['workclass'] = X_test['workclass'].fillna(X_test['workclass'].mode)
X_test['occupation'] = X_test['occupation'].fillna(X_test['occupation'].mode)
X_test['native.country'] = X_test['native.country'].fillna(X_test['native.country'].mode)

In [75]:
X_train.isnull().sum(),X_test.isnull().sum()

(id                0
 age               0
 workclass         0
 fnlwgt            0
 education         0
 education.num     0
 marital.status    0
 occupation        0
 relationship      0
 race              0
 sex               0
 capital.gain      0
 capital.loss      0
 hours.per.week    0
 native.country    0
 dtype: int64,
 id                0
 age               0
 workclass         0
 fnlwgt            0
 education         0
 education.num     0
 marital.status    0
 occupation        0
 relationship      0
 race              0
 sex               0
 capital.gain      0
 capital.loss      0
 hours.per.week    0
 native.country    0
 dtype: int64)

In [76]:
col =['age',	'fnlwgt',	'education.num',	'capital.gain',	'capital.loss',	'hours.per.week']
X_train = X_train[col]
X_test = X_test[col]

In [77]:
y_train = y_train['income']
y_test = y_test['income']

In [79]:
y_train

21851     >50K
7632     <=50K
27878    <=50K
14121    <=50K
32345    <=50K
         ...
2669      >50K
17536    <=50K
6201     <=50K
27989    <=50K
25716    <=50K
Name: income, Length: 26048, dtype: object

In [80]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.810379241516966

In [82]:
pred_y = model.predict(X_test)

In [83]:
# 제출
submission = pd.DataFrame(data = {'id':id,'income':pred_y})
submission

          id income
20901  20901  <=50K
14170  14170  <=50K
1776    1776   >50K
30428  30428  <=50K
8602    8602  <=50K
...      ...    ...
31222  31222  <=50K
10861  10861  <=50K
8929    8929  <=50K
2066    2066   >50K
25782  25782   >50K

[6513 rows x 2 columns]

In [84]:
submission.to_csv('submission_income.csv',index=False)