# T2-기출 3회 [분류] 여행 보험 패키지 상품을 구매할 확률 값을 구하시오 / 리더보드 제출용
--- 
- mission  
코드 탭에서 "new notebook"으로 문제 풀기 (생성된 csv파일 다운로드)
예측한 csv파일 "Submit Predictions"하기
예측할 값(y): TravelInsurance (여행보험 패지지를 구매 했는지 여부 0:구매안함, 1:구매)

- 평가: roc-auc 평가지표
- data: t2-1-train.csv, t2-1-test.csv
- 제출 형식
- id,TravelInsurance  
0,0.3  
1,0.48  
2,0.3  
3,0.83

In [144]:
import pandas as pd
import numpy as np

In [145]:
train = pd.read_csv('../kaggle/TravelInsurance(t2-3회)/t2-1-train.csv')
test = pd.read_csv('../kaggle/TravelInsurance(t2-3회)/t2-1-test.csv')

In [146]:
# 제출용 id,TravelInsurance  
id = test['id']
train = train.drop('id',axis=1)
test = test.drop('id',axis=1)
train

,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,28,Private Sector/Self Employed,Yes,1250000.0,6,1,No,No,0
1,31,Private Sector/Self Employed,Yes,1250000.0,7,1,No,No,0
2,29,Private Sector/Self Employed,Yes,1200000.0,7,0,No,No,1
3,33,Government Sector,Yes,650000.0,6,1,No,No,1
4,28,Private Sector/Self Employed,Yes,800000.0,6,0,No,Yes,1
...,...,...,...,...,...,...,...,...,...
1485,28,Private Sector/Self Employed,Yes,800000.0,4,0,No,No,0
1486,34,Private Sector/Self Employed,Yes,1000000.0,9,0,No,No,0
1487,26,Private Sector/Self Employed,Yes,450000.0,5,1,No,No,1
1488,25,Private Sector/Self Employed,No,1150000.0,3,1,No,Yes,0
1489,31,Government Sector,Yes,400000.0,2,0,No,No,0

# EDA
---

In [147]:
train.isnull().sum()

Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           4
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
TravelInsurance        0
dtype: int64

In [148]:
test.isnull().sum()

Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           3
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
dtype: int64

In [149]:
train.shape,test.shape

((1490, 9), (497, 8))

# 전처리
---

In [150]:
target = train['TravelInsurance']
train = train.drop('TravelInsurance',axis=1)

In [151]:
train['AnnualIncome'] = train['AnnualIncome'].fillna(train['AnnualIncome'].mean())
test['AnnualIncome'] = test['AnnualIncome'].fillna(test['AnnualIncome'].mean())

In [152]:
train.isnull().sum()

Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
dtype: int64

In [153]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  1490 non-null   int64
 1   Employment Type      1490 non-null   object
 2   GraduateOrNot        1490 non-null   object
 3   AnnualIncome         1490 non-null   float64
 4   FamilyMembers        1490 non-null   int64
 5   ChronicDiseases      1490 non-null   int64
 6   FrequentFlyer        1490 non-null   object
 7   EverTravelledAbroad  1490 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 93.2+ KB

In [154]:
train_num = train.select_dtypes('int','float')
train_cat = train.select_dtypes('object')

test_num = test.select_dtypes('int','float')
test_cat = test.select_dtypes('object')

In [155]:
train_cat = pd.get_dummies(train_cat)
test_cat = pd.get_dummies(test_cat)

In [156]:
train = pd.concat([train_num,train_cat],axis=1)
test = pd.concat([test_num,test_cat],axis=1)
train

,Age,FamilyMembers,ChronicDiseases,Employment Type_Government Sector,Employment Type_Private Sector/Self Employed,GraduateOrNot_No,GraduateOrNot_Yes,FrequentFlyer_No,FrequentFlyer_Yes,EverTravelledAbroad_No,EverTravelledAbroad_Yes
0,28,6,1,0,1,0,1,1,0,1,0
1,31,7,1,0,1,0,1,1,0,1,0
2,29,7,0,0,1,0,1,1,0,1,0
3,33,6,1,1,0,0,1,1,0,1,0
4,28,6,0,0,1,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
1485,28,4,0,0,1,0,1,1,0,1,0
1486,34,9,0,0,1,0,1,1,0,1,0
1487,26,5,1,0,1,0,1,1,0,1,0
1488,25,3,1,0,1,1,0,1,0,0,1
1489,31,2,0,1,0,0,1,1,0,1,0

In [157]:
train.info(), test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 11 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Age                                           1490 non-null   int64
 1   FamilyMembers                                 1490 non-null   int64
 2   ChronicDiseases                               1490 non-null   int64
 3   Employment Type_Government Sector             1490 non-null   uint8
 4   Employment Type_Private Sector/Self Employed  1490 non-null   uint8
 5   GraduateOrNot_No                              1490 non-null   uint8
 6   GraduateOrNot_Yes                             1490 non-null   uint8
 7   FrequentFlyer_No                              1490 non-null   uint8
 8   FrequentFlyer_Yes                             1490 non-null   uint8
 9   EverTravelledAbroad_No                        1490 non-null   uint8
 10  EverTravelledAbroad_Yes                       1490 non-null   uint8
dtypes: int64(3), uint8(8)
memory usage: 46.7 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 12 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Age                                           497 non-null    int64
 1   FamilyMembers                                 497 non-null    int64
 2   ChronicDiseases                               497 non-null    int64
 3   Employment Type_Casual employment             497 non-null    uint8
 4   Employment Type_Government Sector             497 non-null    uint8
 5   Employment Type_Private Sector/Self Employed  497 non-null    uint8
 6   GraduateOrNot_No                              497 non-null    uint8
 7   GraduateOrNot_Yes                             497 non-null    uint8
 8   FrequentFlyer_No                              497 non-null    uint8
 9   FrequentFlyer_Yes                             497 non-null    uint8
 10  EverTravelledAbroad_No                        497 non-null    uint8
 11  EverTravelledAbroad_Yes                       497 non-null    uint8
dtypes: int64(3), uint8(9)
memory usage: 16.1 KB

(None, None)

In [158]:
test = test.drop(['Employment Type_Casual employment'],axis=1)

# 모델
---

In [159]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train, target, stratify=target, random_state=0)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1117, 11), (373, 11), (1117,), (373,))

In [160]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(random_state= 0,max_depth =6,n_estimators=300)
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.8230563002680965

In [161]:
pred = model.predict(test)

In [162]:
train = pd.concat([X_train,X_test])
target = pd.concat([y_train,y_test])

In [163]:
# random_state= 0,max_depth =7,n_estimators=500

In [164]:
model_final = RandomForestClassifier(random_state= 0,max_depth =7,n_estimators=500)
model_final.fit(train,target)
pred_final = model_final.predict_proba(test)
print(pred_final)

pred_final = pred_final[:,1]

[[0.88869236 0.11130764]
 [0.88898621 0.11101379]
 [0.84293955 0.15706045]
 [0.07797128 0.92202872]
 [0.76117659 0.23882341]
 [0.03662508 0.96337492]
 [0.76342408 0.23657592]
 [0.78113471 0.21886529]
 [0.28361018 0.71638982]
 [0.9013471  0.0986529 ]
 [0.79691795 0.20308205]
 [0.88623739 0.11376261]
 [0.77065278 0.22934722]
 [0.80778718 0.19221282]
 [0.1603047  0.8396953 ]
 [0.83647763 0.16352237]
 [0.78085328 0.21914672]
 [0.80582579 0.19417421]
 [0.75618349 0.24381651]
 [0.76712479 0.23287521]
 [0.73707835 0.26292165]
 [0.83116946 0.16883054]
 [0.06577698 0.93422302]
 [0.22947829 0.77052171]
 [0.88623739 0.11376261]
 [0.0298506  0.9701494 ]
 [0.0660118  0.9339882 ]
 [0.85494627 0.14505373]
 [0.08697477 0.91302523]
 [0.09531096 0.90468904]
 [0.87953624 0.12046376]
 [0.15638736 0.84361264]
 [0.87953624 0.12046376]
 [0.76257726 0.23742274]
 [0.95422246 0.04577754]
 [0.32388975 0.67611025]
 [0.76769349 0.23230651]
 [0.49666001 0.50333999]
 [0.07797128 0.92202872]
 [0.81324099 0.18675901]
 [0.7886141  0.2113859 ]
 [0.83116946 0.16883054]
 [0.26307945 0.73692055]
 [0.85771696 0.14228304]
 [0.46171851 0.53828149]
 [0.82848428 0.17151572]
 [0.02924578 0.97075422]
 [0.69376743 0.30623257]
 [0.79928114 0.20071886]
 [0.82813716 0.17186284]
 [0.83227117 0.16772883]
 [0.80963737 0.19036263]
 [0.71277635 0.28722365]
 [0.79753209 0.20246791]
 [0.82891296 0.17108704]
 [0.85494627 0.14505373]
 [0.82832416 0.17167584]
 [0.12465805 0.87534195]
 [0.28361018 0.71638982]
 [0.32917297 0.67082703]
 [0.76257726 0.23742274]
 [0.78878747 0.21121253]
 [0.77856348 0.22143652]
 [0.78391366 0.21608634]
 [0.88623739 0.11376261]
 [0.80664995 0.19335005]
 [0.52332061 0.47667939]
 [0.47397876 0.52602124]
 [0.11682701 0.88317299]
 [0.8337474  0.1662526 ]
 [0.73895349 0.26104651]
 [0.74403903 0.25596097]
 [0.83116946 0.16883054]
 [0.22418812 0.77581188]
 [0.38914088 0.61085912]
 [0.88898621 0.11101379]
 [0.80778718 0.19221282]
 [0.11537896 0.88462104]
 [0.15790262 0.84209738]
 [0.82813716 0.17186284]
 [0.80961895 0.19038105]
 [0.21998307 0.78001693]
 [0.81659884 0.18340116]
 [0.80778718 0.19221282]
 [0.8795489  0.1204511 ]
 [0.78449112 0.21550888]
 [0.81324099 0.18675901]
 [0.80255265 0.19744735]
 [0.11162828 0.88837172]
 [0.77856348 0.22143652]
 [0.88623739 0.11376261]
 [0.7896295  0.2103705 ]
 [0.35480449 0.64519551]
 [0.24904266 0.75095734]
 [0.02924578 0.97075422]
 [0.72917436 0.27082564]
 [0.15790262 0.84209738]
 [0.83116946 0.16883054]
 [0.8249604  0.1750396 ]
 [0.73688174 0.26311826]
 [0.79239948 0.20760052]
 [0.83647763 0.16352237]
 [0.06165241 0.93834759]
 [0.34835448 0.65164552]
 [0.86506946 0.13493054]
 [0.82832416 0.17167584]
 [0.81324099 0.18675901]
 [0.13425191 0.86574809]
 [0.15755508 0.84244492]
 [0.79239948 0.20760052]
 [0.76102019 0.23897981]
 [0.80961895 0.19038105]
 [0.83116946 0.16883054]
 [0.58803388 0.41196612]
 [0.12936539 0.87063461]
 [0.76423277 0.23576723]
 [0.81325469 0.18674531]
 [0.75267874 0.24732126]
 [0.4118458  0.5881542 ]
 [0.28925416 0.71074584]
 [0.76679641 0.23320359]
 [0.42002604 0.57997396]
 [0.76822942 0.23177058]
 [0.9013471  0.0986529 ]
 [0.83116946 0.16883054]
 [0.07711045 0.92288955]
 [0.75702188 0.24297812]
 [0.83116946 0.16883054]
 [0.79634594 0.20365406]
 [0.95741318 0.04258682]
 [0.77331761 0.22668239]
 [0.77331761 0.22668239]
 [0.79634594 0.20365406]
 [0.83500428 0.16499572]
 [0.74564258 0.25435742]
 [0.80778718 0.19221282]
 [0.95038219 0.04961781]
 [0.85760016 0.14239984]
 [0.79561768 0.20438232]
 [0.02924578 0.97075422]
 [0.81324099 0.18675901]
 [0.86506946 0.13493054]
 [0.32388975 0.67611025]
 [0.68003144 0.31996856]
 [0.77331761 0.22668239]
 [0.72576343 0.27423657]
 [0.31898337 0.68101663]
 [0.86506946 0.13493054]
 [0.83455394 0.16544606]
 [0.89116493 0.10883507]
 [0.97376251 0.02623749]
 [0.74918383 0.25081617]
 [0.74657648 0.25342352]
 [0.20897537 0.79102463]
 [0.69114977 0.30885023]
 [0.72865391 0.27134609]
 [0.40695064 0.59304936]
 [0.08544735 0.91455265]
 [0.17082522 0.82917478]
 [0.76679641 0.23320359]
 [0.98277163 0.01722837]
 [0.98006815 0.01993185]
 [0.26311587 0.73688413]
 [0.92472777 0.07527223]
 [0.82813716 0.17186284]
 [0.79561768 0.20438232]
 [0.7896295  0.2103705 ]
 [0.85790324 0.14209676]
 [0.90292145 0.09707855]
 [0.7727181  0.2272819 ]
 [0.84952739 0.15047261]
 [0.11569157 0.88430843]
 [0.76712479 0.23287521]
 [0.3870262  0.6129738 ]
 [0.78444056 0.21555944]
 [0.90292145 0.09707855]
 [0.75620739 0.24379261]
 [0.77331761 0.22668239]
 [0.76712479 0.23287521]
 [0.85494627 0.14505373]
 [0.72709735 0.27290265]
 [0.11432435 0.88567565]
 [0.79355242 0.20644758]
 [0.80582579 0.19417421]
 [0.80961895 0.19038105]
 [0.76712479 0.23287521]
 [0.84571186 0.15428814]
 [0.30071717 0.69928283]
 [0.25624584 0.74375416]
 [0.90292145 0.09707855]
 [0.82003884 0.17996116]
 [0.16369311 0.83630689]
 [0.82813716 0.17186284]
 [0.11905148 0.88094852]
 [0.77856348 0.22143652]
 [0.55525585 0.44474415]
 [0.81040669 0.18959331]
 [0.88869236 0.11130764]
 [0.16288212 0.83711788]
 [0.82399704 0.17600296]
 [0.83719498 0.16280502]
 [0.18886676 0.81113324]
 [0.79239948 0.20760052]
 [0.24904266 0.75095734]
 [0.79522109 0.20477891]
 [0.77024197 0.22975803]
 [0.82813716 0.17186284]
 [0.80778718 0.19221282]
 [0.82136624 0.17863376]
 [0.72576343 0.27423657]
 [0.82346768 0.17653232]
 [0.74983016 0.25016984]
 [0.76423277 0.23576723]
 [0.84571186 0.15428814]
 [0.04296044 0.95703956]
 [0.818481   0.181519  ]
 [0.88898621 0.11101379]
 [0.82592133 0.17407867]
 [0.7948968  0.2051032 ]
 [0.58810236 0.41189764]
 [0.12207655 0.87792345]
 [0.73895349 0.26104651]
 [0.77331761 0.22668239]
 [0.56567687 0.43432313]
 [0.3810169  0.6189831 ]
 [0.85548933 0.14451067]
 [0.77856348 0.22143652]
 [0.62418017 0.37581983]
 [0.77856348 0.22143652]
 [0.8249604  0.1750396 ]
 [0.8698382  0.1301618 ]
 [0.88623739 0.11376261]
 [0.79634594 0.20365406]
 [0.68029275 0.31970725]
 [0.82757128 0.17242872]
 [0.81040669 0.18959331]
 [0.82813716 0.17186284]
 [0.18886676 0.81113324]
 [0.76139012 0.23860988]
 [0.12902392 0.87097608]
 [0.76139012 0.23860988]
 [0.15755508 0.84244492]
 [0.26914315 0.73085685]
 [0.96126892 0.03873108]
 [0.48957028 0.51042972]
 [0.86005718 0.13994282]
 [0.75244569 0.24755431]
 [0.86796439 0.13203561]
 [0.82813716 0.17186284]
 [0.82813716 0.17186284]
 [0.82662711 0.17337289]
 [0.80169489 0.19830511]
 [0.80778718 0.19221282]
 [0.7896295  0.2103705 ]
 [0.82880112 0.17119888]
 [0.35693163 0.64306837]
 [0.82757128 0.17242872]
 [0.27676694 0.72323306]
 [0.15457666 0.84542334]
 [0.58803388 0.41196612]
 [0.81745546 0.18254454]
 [0.82813716 0.17186284]
 [0.86477578 0.13522422]
 [0.75620739 0.24379261]
 [0.77331761 0.22668239]
 [0.81659884 0.18340116]
 [0.85760016 0.14239984]
 [0.8249604  0.1750396 ]
 [0.81040669 0.18959331]
 [0.81659884 0.18340116]
 [0.80778718 0.19221282]
 [0.73895349 0.26104651]
 [0.26664102 0.73335898]
 [0.77331761 0.22668239]
 [0.84571186 0.15428814]
 [0.25939176 0.74060824]
 [0.77856348 0.22143652]
 [0.29085042 0.70914958]
 [0.80961895 0.19038105]
 [0.82832928 0.17167072]
 [0.80539229 0.19460771]
 [0.75620739 0.24379261]
 [0.12207655 0.87792345]
 [0.35693163 0.64306837]
 [0.77331761 0.22668239]
 [0.28361018 0.71638982]
 [0.69046891 0.30953109]
 [0.79634594 0.20365406]
 [0.75682912 0.24317088]
 [0.7682287  0.2317713 ]
 [0.76822942 0.23177058]
 [0.79753209 0.20246791]
 [0.82813716 0.17186284]
 [0.80961895 0.19038105]
 [0.82813716 0.17186284]
 [0.86582563 0.13417437]
 [0.8435667  0.1564333 ]
 [0.88623739 0.11376261]
 [0.83371306 0.16628694]
 [0.81231285 0.18768715]
 [0.60751327 0.39248673]
 [0.80961895 0.19038105]
 [0.80778718 0.19221282]
 [0.82681441 0.17318559]
 [0.81325469 0.18674531]
 [0.80890569 0.19109431]
 [0.73047381 0.26952619]
 [0.82681441 0.17318559]
 [0.80169489 0.19830511]
 [0.15160629 0.84839371]
 [0.77024197 0.22975803]
 [0.16857258 0.83142742]
 [0.85790324 0.14209676]
 [0.76712479 0.23287521]
 [0.21178558 0.78821442]
 [0.79795206 0.20204794]
 [0.64549739 0.35450261]
 [0.29085042 0.70914958]
 [0.83116946 0.16883054]
 [0.77856348 0.22143652]
 [0.76423277 0.23576723]
 [0.76135997 0.23864003]
 [0.12207655 0.87792345]
 [0.90366265 0.09633735]
 [0.7886141  0.2113859 ]
 [0.82813716 0.17186284]
 [0.80582579 0.19417421]
 [0.79522109 0.20477891]
 [0.80582579 0.19417421]
 [0.13233542 0.86766458]
 [0.71104256 0.28895744]
 [0.96569487 0.03430513]
 [0.85790324 0.14209676]
 [0.8435667  0.1564333 ]
 [0.19967526 0.80032474]
 [0.82813716 0.17186284]
 [0.57250151 0.42749849]
 [0.82848428 0.17151572]
 [0.80169489 0.19830511]
 [0.73999853 0.26000147]
 [0.4169385  0.5830615 ]
 [0.76423277 0.23576723]
 [0.76139012 0.23860988]
 [0.22127348 0.77872652]
 [0.79355242 0.20644758]
 [0.42002604 0.57997396]
 [0.87569816 0.12430184]
 [0.73303134 0.26696866]
 [0.75145078 0.24854922]
 [0.81324099 0.18675901]
 [0.1796726  0.8203274 ]
 [0.82797224 0.17202776]
 [0.80778718 0.19221282]
 [0.22418812 0.77581188]
 [0.62243641 0.37756359]
 [0.23847045 0.76152955]
 [0.03662508 0.96337492]
 [0.22158765 0.77841235]
 [0.75544316 0.24455684]
 [0.80778718 0.19221282]
 [0.829238   0.170762  ]
 [0.14293416 0.85706584]
 [0.82626831 0.17373169]
 [0.78480266 0.21519734]
 [0.83116946 0.16883054]
 [0.76679641 0.23320359]
 [0.85790324 0.14209676]
 [0.42188075 0.57811925]
 [0.79634594 0.20365406]
 [0.11357989 0.88642011]
 [0.68140769 0.31859231]
 [0.82662711 0.17337289]
 [0.73774043 0.26225957]
 [0.69174185 0.30825815]
 [0.75544316 0.24455684]
 [0.74918383 0.25081617]
 [0.78480266 0.21519734]
 [0.72302166 0.27697834]
 [0.82346768 0.17653232]
 [0.11432435 0.88567565]
 [0.72576343 0.27423657]
 [0.62243641 0.37756359]
 [0.76679641 0.23320359]
 [0.82813716 0.17186284]
 [0.45565835 0.54434165]
 [0.88623739 0.11376261]
 [0.71459631 0.28540369]
 [0.829238   0.170762  ]
 [0.34310919 0.65689081]
 [0.57688429 0.42311571]
 [0.80734345 0.19265655]
 [0.33658486 0.66341514]
 [0.76712479 0.23287521]
 [0.80890569 0.19109431]
 [0.79522109 0.20477891]
 [0.78113471 0.21886529]
 [0.80778718 0.19221282]
 [0.72917436 0.27082564]
 [0.79239948 0.20760052]
 [0.06577698 0.93422302]
 [0.76679641 0.23320359]
 [0.28750191 0.71249809]
 [0.22418812 0.77581188]
 [0.32388975 0.67611025]
 [0.80778718 0.19221282]
 [0.3877772  0.6122228 ]
 [0.50655885 0.49344115]
 [0.82832416 0.17167584]
 [0.12936539 0.87063461]
 [0.81408936 0.18591064]
 [0.55578965 0.44421035]
 [0.15512908 0.84487092]
 [0.818481   0.181519  ]
 [0.15638736 0.84361264]
 [0.67882504 0.32117496]
 [0.24999755 0.75000245]
 [0.83500428 0.16499572]
 [0.7886141  0.2113859 ]
 [0.19147344 0.80852656]
 [0.13482936 0.86517064]
 [0.78482442 0.21517558]
 [0.81040669 0.18959331]
 [0.17539138 0.82460862]
 [0.1467078  0.8532922 ]
 [0.83647763 0.16352237]
 [0.78607921 0.21392079]
 [0.83647763 0.16352237]
 [0.76117659 0.23882341]
 [0.11162828 0.88837172]
 [0.9013471  0.0986529 ]
 [0.76712479 0.23287521]
 [0.47643819 0.52356181]
 [0.46171851 0.53828149]
 [0.73895349 0.26104651]
 [0.7682287  0.2317713 ]
 [0.09296158 0.90703842]
 [0.83116946 0.16883054]
 [0.11556289 0.88443711]
 [0.77841492 0.22158508]
 [0.88898621 0.11101379]
 [0.82848428 0.17151572]
 [0.29085042 0.70914958]
 [0.7886141  0.2113859 ]
 [0.05741261 0.94258739]
 [0.70108843 0.29891157]
 [0.42188075 0.57811925]
 [0.7682287  0.2317713 ]
 [0.77331761 0.22668239]
 [0.83116946 0.16883054]
 [0.73774043 0.26225957]
 [0.04355003 0.95644997]
 [0.81247915 0.18752085]
 [0.85760016 0.14239984]
 [0.72302166 0.27697834]
 [0.07711045 0.92288955]
 [0.82681441 0.17318559]
 [0.8698382  0.1301618 ]
 [0.13282044 0.86717956]
 [0.9013471  0.0986529 ]
 [0.70622412 0.29377588]
 [0.85790324 0.14209676]
 [0.86005718 0.13994282]
 [0.06412678 0.93587322]
 [0.13425191 0.86574809]
 [0.95336769 0.04663231]
 [0.82813716 0.17186284]
 [0.12741932 0.87258068]
 [0.28361018 0.71638982]
 [0.73774043 0.26225957]
 [0.79239948 0.20760052]
 [0.78444056 0.21555944]
 [0.83647763 0.16352237]
 [0.79239948 0.20760052]
 [0.90450803 0.09549197]
 [0.11556289 0.88443711]
 [0.7896295  0.2103705 ]
 [0.82832416 0.17167584]
 [0.50118446 0.49881554]
 [0.28361018 0.71638982]
 [0.76102019 0.23897981]
 [0.15512908 0.84487092]
 [0.76822991 0.23177009]
 [0.82832416 0.17167584]
 [0.76002086 0.23997914]
 [0.28361018 0.71638982]
 [0.58994613 0.41005387]
 [0.81325469 0.18674531]
 [0.82813716 0.17186284]
 [0.74564258 0.25435742]
 [0.19378437 0.80621563]
 [0.75244569 0.24755431]
 [0.84571186 0.15428814]
 [0.87012423 0.12987577]
 [0.05317858 0.94682142]
 [0.85790324 0.14209676]
 [0.07429651 0.92570349]
 [0.06412678 0.93587322]]

In [165]:
# 제출
sub = pd.DataFrame(data ={'id':id,'TravelInsurance':pred_final})
sub.to_csv('./TravelInsurance(t2-3회)/submission.csv',index=False)

In [166]:
sub

      id  TravelInsurance
0      0         0.111308
1      1         0.111014
2      2         0.157060
3      3         0.922029
4      4         0.238823
..   ...              ...
492  492         0.129876
493  493         0.946821
494  494         0.142097
495  495         0.925703
496  496         0.935873

[497 rows x 2 columns]